* {
  margin: 0;
  padding: 0;
}
html {
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: #373D3F;
  margin-bottom: 14vw;
}
h1 {
  font-family: 'Sirin Stencil', cursive;
  font-size: 9.15vw;
  font-weight: 400;
  text-align: center;
  margin-top: 7vw;
  margin-bottom: 10vw;
}
p {
  margin-top: 12vw;
  margin-bottom: 0vw;
  margin-left: 14vw;
  margin-right: 14vw;
  text-align: justify;
  font-size: calc(1.04166667vw + 16px);
  font-weight: 300;
  line-height: 2.3em;
  letter-spacing: 0.5em;
  font-variant-ligatures: none;
}
img {
  width: 100%;
  margin-top: 14vw;
}
a {
  color: #373D3F;
}
a:hover {
  text-decoration-style: double;
}
